html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.logo{
    padding: 25px 25px;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 55px;
}

.hero-desktop{
    display: none;
}

.form-description{
    width: 350px;
}

h1{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 10px;
    line-height: 35px;
}

h1 span{
    font-weight:300;
    color:  hsl(0, 36%, 70%);
}

p{
    padding: 20px 0 35px 0;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 0.875em;
    color:hsl(0, 36%, 70%);
}

.form{
    display: flex;
    flex-direction: row;
    border:1px solid hsl(0, 36%, 70%);
    border-radius: 50px;
    width: 90%;
    margin-left: 15px;
}


input[type=email]{
    font-family: 'Josefin Sans', sans-serif;
    color:  hsl(0, 36%, 70%);
    border: none;
    width: 90%;
    border-radius:50px;
    padding-left: 20px;
}

.submit{
    background: url(images/icon-arrow.svg) no-repeat center;
    background-color:hsl(0, 36%, 70%);
    width: 63px;
    height: 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: -1px 1px 15px 7px #f0d8d8;
    padding-right: 55px;
}

.error-icon{
    display: none;
    height: 23px;
    width: 23px;
    margin: 11px 12px 0 12px;
}


.response{
    display: flex;
    justify-content: flex-start;
}

.error-warning{
    display: none;
    padding: 7px 0 0 35px;
    color: hsl(0, 93%, 68%);
}

.thank-you{
    display:none;
    padding: 7px 0 0 35px;
    color: hsl(0, 93%, 68%);
}

.attribution {
    padding-top: 90px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: black;
}

@media only screen and (min-width: 1440px){

    body{
        background: url(images/bg-pattern-desktop.svg) no-repeat;
    }

    .logo{
        padding: 60px 0 0 160px;
    }

    main{
        flex-direction: row-reverse;
    }

    .hero-image{
        width: 600px;
        height:100%
    }

    .hero-mobile{
        display: none;
    }

    .hero-desktop{
        display: block;
        margin-top: -100px;
    }
    
    .main-content{
        width: 840px;
        padding-right: 55px;
    }

    .form-description{
        text-align: left;
        width: 475px;
        margin-bottom: 75px;
    }

    h1{
        font-size: 3em;
        line-height: 55px;
    }

    p{
        font-size: 1em;
        line-height: 30px;
    }

    .form{
        margin-left: initial;
    }

    .attribution{
        padding-top: initial;
    }

}